<ion-header>
  <ion-toolbar>
    <ion-title>Verificar Código</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="verifyCode()">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Código</ion-label>
          <ion-input type="text" [(ngModel)]="code" name="code"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="ion-margin-top">
          Verificar
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
