ion-content {
  &::part(scroll) {
    background: url('/assets/loginAvion.jpg') no-repeat center center / cover;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  .dark & {
    background: rgba(28, 28, 30, 0.95);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }

  img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }

  .icon {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--ion-text-color);
  }

  form {
    width: 100%;
    max-width: 320px;

    ion-item {
      position: relative;
      --background: transparent;

      ion-label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 19px;
        color: var(--ion-color-primary);
        font-weight: bold;
        transition: all 0.2s ease-in-out;
      }

      ion-input {
        margin-top: 45px;
        background: var(--ion-item-background);
        border-radius: 5px;
        padding: 10px;
        --border-color: var(--ion-color-primary);
        --highlight-color-focused: var(--ion-color-primary);
        --border-width: 2px;
        --color: var(--ion-text-color);

        .dark & {
          background: var(--ion-background-color-step-100);
        }
      }

      ion-datetime {
        margin-top: 45px;
        background: var(--ion-item-background);
        border-radius: 5px;
        padding: 10px;
        --border-color: var(--ion-color-primary);
        --highlight-color-focused: var(--ion-color-primary);
        --border-width: 2px;
        width: 100%;
        color: var(--ion-text-color);

        .dark & {
          background: var(--ion-background-color-step-100);
        }
      }
    }
  }

  .login-button {
    --background: var(--ion-color-primary);
    --color: #ffffff;
    margin-top: 30px;
    width: 100%;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .signup-link {
    margin-top: 15px;

    p {
      font-size: 14px;
      color: var(--ion-text-color);
    }

    a {
      color: var(--ion-color-primary);
      font-weight: bold;
      text-decoration: none;
    }
  }
}


@media screen and (min-width: 768px) {
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    padding: 40px 30px;
    max-width: 400px;
    width: 90%;
    height: auto;
    margin: auto;

    h2 {
      font-size: 2rem;
    }

    img {
      width: 120px;
    }
  }
}
