<ion-header>
  <ion-toolbar color="light">
    <ion-title class="titulo-itinerario">Detalle del Itinerario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()" color="primary">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo-itinerario">

  <ion-card>
    <img *ngIf="itinerario.foto" [src]="'data:image/jpeg;base64,' + itinerario.foto" class="imagen-itinerario" />

    <ion-card-header>
      <ion-row>
        <ion-col size="8">
          <ion-card-title class="color-primario">
            {{ itinerario.actividad }}
          </ion-card-title>
          <ion-card-subtitle class="duracion">
            {{ itinerario.duracion }}
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="4" class="ion-text-end">
          <ion-card-title class="color-primario">
            {{ getCategoriaFormateada(itinerario.categoria) }}
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item lines="none">
          <iframe
            width="100%"
            height="250"
            frameborder="0"
            style="border:0; border-radius: 10px;"
            [src]="mapaUrl"
            allowfullscreen>
          </iframe>
        </ion-item>

        <ion-button expand="block" color="secondary" class="btn-como-llegar" (click)="abrirRutaEnGoogleMaps()">
          Cómo llegar
        </ion-button>


        <ion-item>
          <ion-label>Hora: {{ itinerario.hora }}</ion-label>
        </ion-item>
        <ion-item *ngIf="itinerario.medioTransporte">
          <ion-label>
            Medio de transporte: {{ itinerario.medioTransporte.charAt(0) + itinerario.medioTransporte.slice(1).toLowerCase() }}
          </ion-label>
        </ion-item>
        <ion-item *ngIf="itinerario.duracion">
          <ion-label>Duración: {{ itinerario.duracion }}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="icono-estado">
            ¿Está en ruta?
            <ion-icon
              [name]="itinerario.estaEnRuta ? 'checkmark-circle' : 'close-circle'"
              [color]="itinerario.estaEnRuta ? 'success' : 'danger'">
            </ion-icon>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="icono-estado">
            ¿Aparece en itinerario?
            <ion-icon
              [name]="itinerario.apareceEnItinerario ? 'checkmark-circle' : 'close-circle'"
              [color]="itinerario.apareceEnItinerario ? 'success' : 'danger'">
            </ion-icon>
          </ion-label>
        </ion-item>

      </ion-list>

      <ion-label class="titulo-horarios">Horarios:</ion-label>
      <ion-list class="lista-horarios" lines="none">
        <ng-container *ngIf="segmentoSeleccionado === 'default' ? itinerario.horarios.length > 0 : (diaSemana && filtrarHorariosPorDia(itinerario, diaSemana.diaSemana).length > 0); else sinHorarios">
          <ion-item *ngFor="let horario of (segmentoSeleccionado === 'default' ? itinerario.horarios : filtrarHorariosPorDia(itinerario, diaSemana.diaSemana))" class="item-horario">
            <ion-label>
              {{ horario.dia }} - {{ horario.horaInicio }} - {{ horario.horaFin }}
              <span [style.color]="horario.isClosed ? 'red' : 'green'">
          {{ horario.isClosed ? '(Cerrado)' : '(Abierto)' }}
        </span>
            </ion-label>
          </ion-item>
        </ng-container>
        <ng-template #sinHorarios>
          <ion-item>
            <ion-label>Sin horarios para este día</ion-label>
          </ion-item>
        </ng-template>
      </ion-list>

      <div class="contenedor-botones">
        <ion-button class="btn-cancelar" color="danger" (click)="eliminarItinerario()">
          <ion-icon name="trash" slot="start"></ion-icon>
          Eliminar
        </ion-button>

        <ion-button class="btn-cancelar" (click)="cerrar()">
          <ion-icon name="close" slot="start"></ion-icon>
          Cancelar
        </ion-button>

        <ion-button class="btn-actualizar" (click)="irAActualizarItinerario()">
          Actualizar
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </div>




    </ion-card-content>
  </ion-card>
</ion-content>
