<ion-header>
  <ion-toolbar [style]="{'--background': darkMode ? '#1f1f1f' : '#5B97D5'}" style="display: flex; align-items: center; justify-content: space-between; padding: 0 16px;">
    <div style="display: flex; align-items: center;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/viajes" style="color: white;"></ion-back-button>
    </ion-buttons>
    <div style="display: flex; align-items: center;">
      <img src="assets/icons8-notifications-78.png" style="height: 42px; margin-right: 20px;">
      <ion-title style="color: white; margin-left: -30px;">Notificaciones</ion-title>
    </div>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [class.dark]="darkMode">
  <div class="notificaciones-container" *ngIf="notificaciones?.length; else sinNotificaciones">
    <ion-card *ngFor="let noti of notificaciones" class="notificacion-card">
      <ion-card-content>
        <div class="notificacion-content">
          <div>
            <div class="mensaje">{{ noti.mensaje }}</div>
            <div class="fecha">
              📅 {{ noti.fechaEnvio | date: 'dd/MM/yyyy HH:mm' }}
            </div>
          </div>
          <img class="papelera-icono" (click)="eliminarNotificacion(noti.id)" src="assets/icons8-basura-50.png" alt="Eliminar notificación">
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #sinNotificaciones>
    <div  class="no-data">
      <img src="assets/icons8-campana-con-barra-96.png" alt="Sin notificaciones" />
      <p>No tienes notificaciones por ahora.</p>
    </div>
  </ng-template>

  <style>
    .notificaciones-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 800px;
      margin: auto;
    }

    .notificacion-card {
      --background: #5B97D5;
      color: white;
      border-radius: 16px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .notificacion-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .mensaje {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .fecha {
      margin-top: 0.5rem;
      font-size: 0.95rem;
      color: #e0e0e0;
    }

    .papelera-icono {
      height: 37px;
      cursor: pointer;
      flex-shrink: 0;
      margin-left: 1rem;
    }

    .no-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 12rem;
      text-align: center;
      color: #888;
    }


    .no-data img {
      width: 80px;
      margin-bottom: 1rem;
    }

    .no-data p {
      font-size: 1.1rem;
    }
    .dark {
      ion-content {
        --background: #121212;
      }

      ion-card {
        --background: #1e1e1e;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
      }

      .no-data {
        color: #b3b3b3;
      }
      }
  </style>
</ion-content>
