<ion-header>
  <ion-toolbar [style]="{'--background': darkMode ? '#1f1f1f' : '#5B97D5'}" style="display: flex; align-items: center; justify-content: space-between; padding: 0 16px;">
    <div style="display: flex; align-items: center;">
      <ion-buttons slot="start">
        <ion-back-button (click)="volver()" style="color: white;"></ion-back-button>
      </ion-buttons>
      <div style="display: flex; align-items: center;">
        <ion-title style="color: white; margin-left: -30px;">Ingresos vs Gastos</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title></ion-card-title>
  </ion-card-header>
  <ion-card-content style="height: 100vh; padding: 1rem;">
    <div class="chart-container">
      <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="'bar'">
      </canvas>
    </div>
  </ion-card-content>
</ion-card>
