.chart-container {
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100%;
}

@media screen and (max-width: 600px) {
  .chart-container {
    height: 100vh; /* Ensure full height on smaller screens */
  }
}
