ion-content {
  &::part(scroll) {
    background: url('/assets/loginAvion.jpg') no-repeat center center / cover;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }


.icon {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #000;
  }

  form {
    width: 100%;
    max-width: 320px;

    ion-item {
      position: relative;

      ion-label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 19px;
        color: #0c86bd;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
      }

      ion-input {
        margin-top: 45px;
        background: #f8f8f8;
        border-radius: 5px;
        padding: 10px;
        --border-color: #0c86bd;
        --highlight-color-focused: #0c86bd;
        --border-width: 2px;
      }

      ion-datetime {
        margin-top: 45px;
        background: #f8f8f8;
        border-radius: 5px;
        padding: 10px;
        --border-color: #0c86bd;
        --highlight-color-focused: #0c86bd;
        --border-width: 2px;
        width: 100%;
      }
    }
  }

  .login-button {
    --background: #0c86bd;
    --color: #ffffff;
    margin-top: 30px;
    width: 100%;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .signup-link {
    margin-top: 15px;

    p {
      font-size: 14px;
      color: #333;
    }

    a {
      color: #002060;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.icon {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

// Estilos para pantallas grandes (PC)
@media screen and (min-width: 768px) {
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &::part(scroll) {
      background: url('/assets/loginAvion.jpg') no-repeat center center / cover;
    }
  }

  .login-container {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    padding: 40px 30px;
    max-width: 400px;
    width: 90%;
    height: auto;
    margin: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  .login-container h2 {
    font-size: 2rem;
  }

  .login-container img {
    width: 120px;
  }
}
