
<ion-content>
  <div class="login-container">
    <img src="assets/Logo_WayPlanner.png" alt="login Icono" class="icon">
    <h2>Bienvenido a WayPlanner</h2>

    <form [formGroup]="registroForm" (ngSubmit)="doRegister()">
      <ion-item lines="none">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input
          id="nombre"
          placeholder="Nombre de usuario"
          fill="outline"
          formControlName="nombre">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          id="email"
          placeholder="Email de usuario"
          fill="outline"
          formControlName="email">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          id="password"
          placeholder="Contraseña"
          type="password"
          fill="outline"
          formControlName="password">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input
          id="telefono"
          placeholder="Teléfono de usuario"
          fill="outline"
          formControlName="telefono">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime
          id="fecha"
          placeholder="Selecciona una fecha"
          formControlName="fecha">
        </ion-datetime>
      </ion-item>

      <ion-button
        expand="block"
        class="login-button"
        type="submit">
        Crear cuenta
      </ion-button>
    </form>
  </div>
</ion-content>




