
<ion-content>


  <div class="login-container">
    <img src="assets/Logo_WayPlanner.png" alt="login Icono" class="icon">
    <h2>Bienvenido a WayPlanner</h2>

    <form id="login">

      <ion-item lines="none">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input
          id="username"
          placeholder="Nombre de usuario"
          fill="outline"
          formControlName="username">
        </ion-input>
      </ion-item>



      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          id="Email"
          placeholder="Email de usuario"
          fill="outline"
          formControlName="Email">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          id="password"
          placeholder="Contraseña"
          type="password"
          fill="outline"
          formControlName="password">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Telefono</ion-label>
        <ion-input
          id="telefono"
          placeholder="Telefono de usuario"
          fill="outline"
          formControlName="telefono">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        class="login-button">
        Iniciar sesión
      </ion-button>
    </form>

  </div>
</ion-content>


