#map {
  height: 100%;
  width: 100%;
}

html, body, ion-content, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

ion-header, ion-toolbar,ion-fab,ion-fab-button {
  --background: #5B97D5;
}

#selectDia {
  outline: none;
  text-decoration: none;
  box-shadow: none; /* Removes any focus shadow */
  --highlight-color-focused: none;
  color: black;
  --color: black;
}
.boton{
  color: white;
}


.select-notif-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; // Centrado en móvil por defecto
  margin-left: 80px;
}

@media (min-width: 768px) {
  .select-notif-wrapper {
    margin-left: 630px;
    justify-content: flex-start; // Si quieres alinearlo a la izquierda cuando hay espacio
  }
}

