<ion-content>
  <div class="formulario-centro">
    <div class="card-wrapper">
      <ion-card class="formulario-dia-card">
        <ion-card-header>
          <ion-card-title>Nuevo Día</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-label>Seleccionar viaje:</ion-label>
                <select class="custom-input" [(ngModel)]="idViajeSeleccionado" name="viaje">
                  <option value="0" disabled selected hidden>Seleccione un viaje</option>
                  <option *ngFor="let viaje of viajes" [value]="viaje.id">{{ viaje.nombre }}</option>
                </select>
              </ion-col>

              <ion-col size="12" size-md="6">
                <ion-label>Fecha:</ion-label>
                <input class="custom-input" type="date" name="fecha" [(ngModel)]="dia.fecha" />
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-md="6">
                <ion-label>Número de Día:</ion-label>
                <input class="custom-input" type="number" name="numeroDia" [(ngModel)]="dia.numeroDia" placeholder="Ej. 1" />
              </ion-col>

              <ion-col size="12" size-md="6">
                <ion-label>Día de la semana:</ion-label>
                <select class="custom-input" name="diaSemana" [(ngModel)]="dia.diaSemana">
                  <option value="" disabled selected hidden>Seleccione un día</option>
                  <option value="LUNES">Lunes</option>
                  <option value="MARTES">Martes</option>
                  <option value="MIERCOLES">Miércoles</option>
                  <option value="JUEVES">Jueves</option>
                  <option value="VIERNES">Viernes</option>
                  <option value="SABADO">Sábado</option>
                  <option value="DOMINGO">Domingo</option>
                </select>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-end mt-3">
              <ion-col size="12" size-md="auto">
                <ion-button expand="block" class="crear-dia-btn" (click)="crearDia()">Crear Día</ion-button>
              </ion-col>
              <ion-col size="12" size-md="auto">
                <ion-button expand="block" color="danger" (click)="cancelar()">Cancelar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

