// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #3880ff;
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;
  --ion-border-color: #cccccc;
  --ion-item-background: #ffffff;
  --ion-toolbar-background: #f8f8f8;
  --ion-card-background: #ffffff;
}

:root.dark {
  --ion-color-primary: #428cff;
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18,18,18;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;
  --ion-border-color: #222222;
  --ion-item-background: #1e1e1e;
  --ion-toolbar-background: #1f1f1f;
  --ion-card-background: #1e1e1e;
}
