<ion-content class="ion-padding">
  <div class="form-container">
    <h2 class="form-title">Nuevo Viaje</h2>

    <form class="form-content">
      <div class="form-group">
        <label style="color: white" for="nombre">Nombre del viaje</label>
        <input type="text" id="nombre" placeholder="Ej. Ruta por Europa" />
      </div>

      <div class="form-group">
        <label style="color: white" for="fechaInicio">Fecha de inicio</label>
        <input type="date" id="fechaInicio" />
      </div>

      <div class="form-group">
        <label style="color: white" for="fechaFin">Fecha de fin</label>
        <input type="date" id="fechaFin" />
      </div>

      <div class="form-group">
        <label style="color: white" for="destino">Destino</label>
        <input type="text" id="destino" placeholder="Ej. París, Madrid..." />
      </div>

      <div class="form-group">
        <label style="color: white" for="descripcion">Descripción</label>
        <textarea id="descripcion" rows="4" placeholder="Describe tu aventura..."></textarea>
      </div>

      <div class="button-container">
        <ion-button (click)="guardarViaje()" expand="block" style="--background: #5B97D5">
          💾 {{ idViajeEditar ? 'Actualizar Viaje' : 'Crear Viaje' }}
        </ion-button>

      </div>
    </form>
  </div>

  <style>
    .form-container {
      max-width: 500px;
      margin: 2rem auto;
      background-color: #5B97D5;
      padding: 2rem;
      box-shadow: 0 1px 4px rgba(0,0,0,0.1);
      border-radius: 12px;


    }

    .form-title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      color: white;
    }

    .form-content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-group label {
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: #333;
    }

    .form-group input,
    .form-group textarea {
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 12px;
      font-size: 1rem;
    }

    .form-group input:focus,
    .form-group textarea:focus {
      outline: none;
      border-color: #3880ff;
      box-shadow: 0 0 0 2px rgba(56, 128, 255, 0.2);
    }

    .button-container {
      margin-top: 1.5rem;

    }

    label {
      color: #fff;
    }
  </style>
</ion-content>
