<ion-content class="ion-padding">
  <div class="form-container">
    <h2 class="form-title">Nuevo gasto</h2>

    <form [formGroup]="gastoForm" (ngSubmit)="crearGasto()" class="form-content">
      <div class="form-group">
        <label for="titulo">Nombre del gasto</label>
        <input type="text" id="titulo" formControlName="titulo" placeholder="Ej. Auriculares" />
      </div>

      <div class="form-group">
        <label for="cantidad">Cantidad</label>
        <input type="number" id="cantidad" formControlName="cantidad" placeholder="Ej. 100" />
      </div>

      <div class="form-group">
        <label for="categoria">Categoría</label>
        <select id="categoria" formControlName="categoria">
          <option value="ALOJAMIENTO">Alojamiento</option>
          <option value="COMIDA">Comida</option>
          <option value="TRANSPORTE">Transporte</option>
          <option value="ENTRETENIMIENTO">Entretenimiento</option>
          <option value="COMPRAS">Compras</option>
          <option value="ACTIVIDADES">Actividades</option>
          <option value="OTROS">Otros</option>
        </select>
      </div>



      <div class="button-container">
        <ion-button type="submit" style="--background: #ffffff; --color: #5B97D5;" expand="block">
          Crear Gasto
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
